---
import Button from "@/components/common/Button.astro";
import ContactForm from "@/components/common/ContactForm.astro";
import GalleryMosaic from "@/components/common/GalleryMosaic.astro";
import Testimonial from "@/components/common/Testimonial.astro";
import TitleCommon from "@/components/common/TitleCommon.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404 - Page not found">
    <TitleCommon title="Most Experience Care For Senior Person" subtitle="Why Choose Us" desc="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here.">
        <Button class="mt-10">
            Know More
        </Button>
    </TitleCommon>

    <ContactForm />

    <!-- <GalleryMosaic class="justify-center" srcs={["/assets/img/Bild1.jpg", "/assets/img/Bild1.jpg", "/assets/img/Bild1.jpg", "/assets/img/Bild1.jpg", "/assets/img/Bild1.jpg"]}/> -->

    <Testimonial testimonials={[{
        name: "Aubrey Logan",
        title: "CEO",
        image: "/assets/img/testimonial/testimonial-1.jpg",
        desc: "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature 45 BC, making.",
      },
      {
        name: "Ryan Bruce",
        title: "Manager",
        image: "/assets/img/testimonial/testimonial-2.jpg",
        desc: "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature 45 BC, making.",
      },
      {
        name: "Carmen Cobb",
        title: "Designer",
        image: "/assets/img/testimonial/testimonial-3.jpg",
        desc: "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature 45 BC, making.",
      }]} />
</Layout>
